<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rl.jmessagedemo">

    <application
        android:name=".App"
        android:allowBackup="true"
        tools:replace="android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar">

        <!--        &lt;!&ndash; Since JCore2.0.0 Required SDK核心功能&ndash;&gt;-->
        <!--        &lt;!&ndash; 这个Service要继承JCommonService &ndash;&gt;-->
        <service
            android:name=".service.MyJCommonService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace"/>

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AddFriendActivity" />
        <activity android:name=".ui.activity.ChatActivity" />
        <activity android:name=".ui.activity.NewGroupChatActivity" />
        <activity android:name=".ui.activity.ChatDetailActivity" />
        <activity android:name=".ui.activity.PersonInformActivity" />
        <activity android:name=".ui.activity.GroupActivity" />
    </application>

</manifest>